@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

/* Color Scheme
 */
/* 
muted green: #339999;
muted teal: #3399cc;
sky blue: #3399ff; */


/* General Styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  color: #000;
}


a {
  text-decoration: none;
  color: #000;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

/* Header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3399ff;
  animation: 1s fadein 0.5s forwards;
  opacity: 0%;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

nav {
  display: flex;
  margin: 1em;
}

a {
  margin: 1em;
  opacity: 75%;
  transition: opacity 0.5s ease-out;
}

a:hover {
  opacity: 100%;
}

h2 {
  margin: 1em;
}



/* Hero */

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}








